body{
  font-family: 'Roboto Mono', monospace;
  background-color: #141526;
}

input {
  color: #5a0d94;
}

.hero {
  display: flex;
  color: #a9b5c7;
  flex-direction: column;
  text-align: center;
  padding: 0px;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style-type: none;
  height: 30px;
  width: 600px;
  justify-content: space-around;
  font-size: 20px;
}

ul.show {
  display: block;
}

li{
  text-decoration: none;
}

li:hover {
  background-color: #45356e;
}

a {
  text-decoration: none;
  color:  #a9b5c7;
}

#linkedIn {
  color: #7d34fa;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #a9b5c7;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #141526;
    margin: 80px;
    width: 130px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #141526;
  }

  #nav-list {
    text-align: left;
  }

}

h2 {
  font-size: 70px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

input{
  color: #5a0d94;
  border-color: #5a0d94;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}
