body{
  font-family: 'Roboto Mono', monospace;
  background-color: #141526;
}

.hero {
  height: auto;
  color: #a9b5c7;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0px;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: flex;
  list-style-type: none;
  height: 30px;
  width: 600px;
  justify-content: space-around;
  font-size: 20px;
}

ul.show {
  display: block;
}

li{
  text-decoration: none;
}

li:hover {
  background-color: #45356e;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
}

.hero-area{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 150px;
}

.socials{
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

a {
  text-decoration: none;
  color:  #a9b5c7;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #a9b5c7;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  }

  ul {
    display: none;
    background-color: #141526;
    margin: 80px;
    width: 130px;
  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color: #141526;
  }

}
